text {
  font-family: monospace;
}


.enter {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  font-weight: bold;
}

.update {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  font-weight: normal;
}
